@model RCIDWeb.Models.ValidationErrors
@{
    ViewBag.Title = "ImportExcel";
}

<h2>Import Survey Information</h2>

@if (Model != null && Model.ErrorCount == 0)
{
<div class="alert alert-success" id="importSuccessMsgDiv" >
    File imported succesfully! Number of imported surveys: @Model.ProcessedRows
</div>
}

@using (Html.BeginForm("ImportExcel", "Birds", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table>
        <tr>
            <td>File:</td>
            <td>
                <input type="file" name="UploadedFile" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" name="Submit" value="Submit" />
            </td>
        </tr>
    </table>
}
@if (Model != null)
{

    if (Model.SPAErrors.Count > 0)
    {
        <h3>Sample Point Area Errors:</h3>
        <ul>
            
            @foreach (var spa in Model.SPAErrors)
            {
                <li>@spa</li>
            }
        </ul>
    }
    if (Model.SurveyorErrors.Count > 0)
    {
        <h3>Surveyor Errors:</h3>
        <ul>
    
            @foreach (var se in Model.SurveyorErrors)
            {
                <li>@se</li>
            }
        </ul>
    }

    if (Model.ClimateErrors.Count > 0)
    {
        <h3>Climate Errors:</h3>
        <ul>            
            @foreach (var ce in Model.ClimateErrors)
            {
                <li>@ce</li>
            }
        </ul>
    }

    if (Model.SpeciesErrors.Count > 0)
    {
        <h3> Species Errors:</h3>
        <ul>
   
            @foreach (var se in Model.SpeciesErrors)
            {
                <li>@se</li>
            }
        </ul>
    }
    
}