@model RCIDWeb.Models.ValidationErrors
@{
    ViewBag.Title = "ImportExcel";
}

<h2>Import Survey Information</h2>

@if (Model.ErrorCount == 0)
{
    <div class="alert alert-success" id="importSuccessMsgDiv" >
        File imported succesfully! Number of imported surveys: @Model.ProcessedRows
    </div>
}   
else
{
    if (Model.ErrorCount > 0)
    {
        if (Model.FormatError)
        {
        <div class="alert alert-danger" id="importFormatMsgDiv">
            There was an error importing file. Please verify format of numbers and dates and make sure no special characters are used.
        </div>
        }
        else if (Model.GeneralError != null)
        {
            <div class="alert alert-danger" id="importErrorMsgDiv">
               @Model.GeneralError
            </div>
        }
        else
        {
            <div class="alert alert-danger" id="importErrorMsgDiv">
                Please check and fix the list of data inconsistencies below before proceeding.
            </div>
        }
    }
}

@using (Html.BeginForm("ImportExcel", "Birds", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table>
        <tr>
            <td>File:</td>
            <td>
                <input type="file" name="UploadedFile" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" name="Submit" value="Submit" />
            </td>
        </tr>
    </table>
}


    @if (Model.SPAErrors.Count > 0)
    {
        <h3>Sample Point Area Errors:</h3>
        <ul>
            
            @foreach (var spa in Model.SPAErrors)
            {
                <li>@spa</li>
            }
        </ul>
    }
    @if (Model.SurveyorErrors.Count > 0)
    {
        <h3>Surveyor Errors:</h3>
        <ul>
    
            @foreach (var se in Model.SurveyorErrors)
            {
                <li>@se</li>
            }
        </ul>
    }

    @if (Model.ClimateErrors.Count > 0)
    {
        <h3>Climate Errors:</h3>
        <ul>            
            @foreach (var ce in Model.ClimateErrors)
            {
                <li>@ce</li>
            }
        </ul>
    }

    @if (Model.SpeciesErrors.Count > 0)
    {
        <h3> Species Errors:</h3>
        <ul>
   
            @foreach (var se in Model.SpeciesErrors)
            {
                <li>@se</li>
            }
        </ul>
    }
    
