<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/grid")    
       
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("RCID", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Birds <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Import", "ImportExcel", "Birds")</li>
                            <li>@Html.ActionLink("Species", "Species", "Birds")</li>
                            <li>@Html.ActionLink("Surveyors", "Surveyors", "Birds")</li>
                            <li>@Html.ActionLink("Surveys", "Surveys", "Birds")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Fish<span class="caret"></span></a>
                        <ul class="dropdown-menu">                           
                            <li>@Html.ActionLink("Species", "Species", "Fish")</li>
                            <li>@Html.ActionLink("Species Group", "SpeciesGroup", "Fish")</li>
                            <li>@Html.ActionLink("Generators", "Generators", "Fish")</li>
                            <li>@Html.ActionLink("Surveys", "Surveys", "Fish")</li>     
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Phyto<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Species", "Species", "Phyto")</li>                            
                            <li>@Html.ActionLink("Divisions", "Divisions", "Phyto")</li>
                            <li>@Html.ActionLink("Surveys", "Surveys", "Phyto")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lake<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Parameters", "Parameters", "Lake")</li>   
                            <li>@Html.ActionLink("Profiles", "Profiles", "Lake")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">General<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Climates", "Climate", "General")</li>                            
                            <li>@Html.ActionLink("Sample Point Areas", "SamplePointArea", "General")</li>                            
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="alert alert-success" id="successMsgDiv"><button type="button" class="close" data-dismiss="alert">x</button></div>
    <div class="alert alert-danger" id="errorMsgDiv" style="display:none"></div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>          
        </footer>
    </div>

  
</body>
</html>
